#firstpara{
    background-color: rgb(76, 188, 121);
    height: 200px;
    width: 455px;
    border-width: 4px;
    border-color: greenyellow;
    border-style:solid;
    border-radius: 11px;
    
    
}
#twopara{
      height: 100x;
      width: 455px;
    
    background-image: url("https://github.com/Pramodjena/Falcon-4.0/raw/main/CSS/class-2/image.png");
   
}